
.form_comment {
    font-size: smaller;
    display: block;
    color: gray;
    padding-bottom: 3px;
}

td.label label {
    color: black;
    font-size: small;
}

#sukutaulu {
    width: 100%;
    border-top: #cccccc 3px solid;
    border-bottom: #cccccc 3px solid;
    
}